/* Add here all your CSS customizations */
.Empty10 {height: 10px;}
.Empty20 {height: 20px;}
.Empty30 {height: 30px;}
.Empty40 {height: 40px;}
.Empty50 {height: 50px;}

/*padding*/
.Pad5px {padding: 5px;}

/*margin*/
.Mar5px {margin: 5px;}
.MarBot5px {margin-bottom: 5px;}

/*align*/
.TabVertAlign tr td {vertical-align: middle!important;}

/*Table*/
.TabState {border-radius: 3px;font-size: 12px;padding: 3px 6px;opacity: 0.6;}