﻿@model Altyapi.Data.ViewModel.ViewModelIletisimFormu
@{
    ViewBag.Title = "Bize Ulaşın";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">Bize Ulaşın</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-6">

            <h2 class="mb-sm mt-sm"><strong>Bize</strong> Yazın
            </h2>

            @using (Ajax.BeginForm("BizeUlasin", "Iletisim", null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnBegin = "ValidateForm",
                    OnSuccess = "OnSuccessCrud"
                },
                new
                {
                    @class = "form-horizontal form-bordered"
                }))
            {

                <div class="form-group">
                    <div class="col-md-6">
                        <label>İsminiz *</label>
                        @Html.TextBoxFor(model => model.Ad, new Dictionary<string, object>() {{"type", "text"}, {"class", "form-control"}, {"maxlength", "100"}, {"required", ""}, {"data-msg-required", "Lüften adınızı giriniz."}})
                    </div>
                    <div class="col-md-6">
                        <label>E-posta Adresiniz *</label>
                        @Html.TextBoxFor(model => model.Eposta, new Dictionary<string, object>() {{"type", "email"}, {"class", "form-control"}, {"maxlength", "100"}, {"required", ""}, {"data-msg-required", "Lütfen e-posta adresinizi giriniz."}})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label>Konu *</label>
                        @Html.TextBoxFor(model => model.Konu, new Dictionary<string, object>() {{"type", "text"}, {"class", "form-control"}, {"maxlength", "100"}, {"required", ""}, {"data-msg-required", "Lüften bir konu giriniz."}})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label>Mesaj *</label>
                        @Html.TextAreaFor(model => model.Mesaj, new Dictionary<string, object>() {{"rows", "10"}, {"class", "form-control"}, {"maxlength", "5000"}, {"required", ""}, {"data-msg-required", "Lüften bir konu giriniz."}})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button id="MesajGonder" class="btn btn-primary" type="submit">Mesajı Gönder</button>
                    </div>
                </div>
            }
        </div>


        <div class="col-md-6">
            <h4>Yer <strong>Bildirimi</strong></h4>

            <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
            <div id='googlemaps' class="google-map small">maps error</div>

            <ul class="list list-icons list-icons-style-3 mt-xlg">
                <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Fabrikalar Mah. 3002 Sk. Kızılay Parkı No:2/1</li>
                <li><i class="fa fa-phone"></i> <strong>Telefon:</strong> 0 (242) 345 46 46</li>
                <li><i class="fa fa-envelope"></i> <strong>E-Posta:</strong> <a href="mailto:bilgi@turkkizilayikepez.org">bilgi@turkkizilayikepez.org</a></li>
            </ul>

            <hr>

            <h4>Çalışma <strong>Saatleri</strong></h4>
            <ul class="list list-icons list-dark mt-xlg">
                <li><i class="fa fa-clock-o"></i> Pazartesi - Cuma 09:00 / 17:30</li>
                <li><i class="fa fa-clock-o"></i> Cumartesi - 10:00 / 17:00</li>
                <li><i class="fa fa-clock-o"></i> Pazar - Kapalı</li>
            </ul>
        </div>
    </div>

    <div class="Empty50"></div>
</div>

