﻿<div style="background-color:#e10000;padding:20px 10px;">
    <div class="container">

        <div class="row">
            <div class="col-md-3 text-center" style="padding:10px 0px;">
                <img src="~/Content/img/ico-bagis-hatti.png" alt="Bağış Hattı" />
            </div>

            <div class="col-md-3 text-center" style="padding:10px 0px;">
                <img src="~/Content/img/ico-cagri-merkezi.png" alt="Çağrı Merkezi"/>
            </div>

            <div class="col-md-3 text-center" style="padding:10px 0px;">
                <img src="~/Content/img/ico-kan-bagisi.png" alt="Kan Bağışı"/>
            </div>

            <div class="col-md-3 text-center" style="padding:10px 0px;">
                <img src="~/Content/img/ico-online-bagis.png" alt="Online Bağış"/>
            </div>

        </div>

    </div>
</div>