﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelSlaytYayin>
<div class="slider-container rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": auto, "gridheight": 500}'>
        <ul>
            @foreach (var slayt in Model)
            {
                <li data-transition="fade">
                    <img src=@slayt.ResimBuyuk
                         alt="@slayt.Baslik"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption bottom-label" style="background-color: rgba(0, 0, 0, 0.5); opacity: 0.3 !important; width: 100%; padding: 20px;"
                         data-x="100"
                         data-y="400"
                         data-start="1000"
                         data-transform_in="y:[100%];opacity:0;s:500;"><a style="color: whitesmoke;" href=@Url.Action("YayinDetay", "Yayin", new {slugUrl = slayt.SeoSlug, slugKategori = slayt.SeoSlugKategori})>@slayt.Baslik</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

