﻿<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Bize Ulaşın</span>
            </div>
            <div class="col-md-3">
                <div class="newsletter">
                    <h4>İlgili Bağlantılar</h4>
                    <ul class="contact">
                        <li><a href="http://afetyonetimi.kizilay.org.tr/">Afet Yönetimi</a></li>
                        <li><a href="http://www.kanver.org/" class="cz-color-16777215">Kan Hizmetleri</a></li>
                        <li><a href="http://www.kizilaysaglikgrubu.com/">Teşhis ve Tedavi Hizmetleri</a></li>
                        <li><a href="http://www.kizilaymagaza.org.tr/">Kızılay Mağaza</a></li>
                        <li><a href="http://genclikhizmetleri.kizilay.org.tr/Default.aspx?menuID=895">Gençlik Hizmetleri</a></li>
                        <li><a href="http://www.kizilaymadensuyu.com.tr/">Kızılay Mineralli Su</a></li>
                        <li><a href="http://arsiv.kizilay.org.tr/">Kızılay Arşiv ve Kütüphanesi</a></li>
                        <li><a href="http://www.ilkyardim.org.tr/">İlk Yardım Sitesi</a></li>
                        <li><a href="http://www.kizilayhuzurevi.org.tr/">Kızılay Huzurevi (İstanbul)</a></li>
                        <li><a href="http://www.kizilaykariyer.com/">Kızılay Kariyer (İş Başvurusu)</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="newsletter">
                    <h4>Kategoriler</h4>
                    <ul class="contact">
                        <li><a href="@Url.Action("Kategori", "Yayin", new {slugKategori = "etkinlikler"})">Etkinlikler</a></li>
                        <li><a href="@Url.Action("Kategori", "Yayin", new {slugKategori = "duyurular"})">Duyurular</a></li>
                        <li><a href="@Url.Action("Kategori","Yayin",new {slugKategori="yararli-bilgiler"})">Yararlı Bilgiler</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-details">
                    <h4>Bize Ulaşın</h4>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Fabrikalar Mah. 3002 Sk. Kızılay Parkı No:2/1</p></li>
                        <li><p><i class="fa fa-phone"></i> <strong>Tel:</strong> 0 (242) 345 46 46</p></li>
                        <li><p><i class="fa fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:bilgi@turkkizilayikepez.org">bilgi@turkkizilayikepez.org</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <h4>Takip Edin</h4>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1 text-center">
                    <a href="index.html" class="logo">
                        <img alt="Türk Kızılayı Kepez Şubesi" class="img-responsive" src="~/Content/img/logo_gray.png">
                    </a>
                </div>
                <div class="col-md-7">
                    <p>© Copyright @DateTime.Now.Year. Tüm Hakları saklıdır.</p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="#">S.S.S.</a></li>
                            <li><a href="#">Site Haritası</a></li>
                            <li><a href="@Url.Action("BizeUlasin","Iletisim")">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
