﻿@using TurkKizilayi.Web.Helpers
<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 40, "stickySetTop": "-10px", "stickyChangeLogo": true}'>
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="@Url.Action("Index","Anasayfa")">
                            <img alt="Porto" width="121" height="100" data-sticky-width="72" data-sticky-height="60" data-sticky-top="15" src="~/Content/img/logo.png">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#">
                                                KURUMSAL
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Baskan","Yonetim")">Başkan</a></li>
                                                <li><a href="@Url.Action("YonetimKurulu","Yonetim")">Yönetim Kurulu</a></li>
                                                <li><a href="@Url.Action("SubeBilgisi", "Yonetim")">Kepez Şubesi</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Kategori","Yayin",new { slugKategori="etkinlikler"})">
                                                ETKİNLİK
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Kategori","Yayin",new { slugKategori="duyurular"})">
                                                DUYURU
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Kategori","Yayin",new { slugKategori="yararli-bilgiler"})">
                                                YARARLI BİLGİLER
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kizilay.org.tr/bagis/">
                                                BAĞIŞ YAP
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("BizeUlasin","Iletisim")">
                                                İLETİŞİM
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
