﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd" lang="tr">
<html lang="tr">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Türk Kızılayı-Antalya Kepez Şubesi</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0">

    <!-- Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Scripts/font-awesome/css/font-awesome.min.css">

    @Styles.Render("~/css")
    <!-- Scripts CSS -->
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Scripts/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Scripts/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Scripts/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Scripts/magnific-popup/magnific-popup.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/css/theme.css">
    <link rel="stylesheet" href="~/Content/css/theme-elements.css">
    <link rel="stylesheet" href="~/Content/css/theme-blog.css">
    <link rel="stylesheet" href="~/Content/css/theme-animate.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Scripts/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="~/Scripts/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="~/Scripts/rs-plugin/css/navigation.css" media="screen">
    <link rel="stylesheet" href="~/Scripts/circle-flip-slideshow/css/component.css" media="screen">
    <link rel="stylesheet" href="~/Scripts/pnotify/pnotify.css" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Scripts/modernizr/modernizr.js"></script>*@

</head>
<body>
    <div class="body">

        @Html.Partial("_Header")

        @RenderSection("Carosel", false)

        <div role="main" class="main">

            @RenderBody()

        </div>

        @RenderSection("SonYayinlar", false)

        @Html.Partial("_BilgiMesaj")

        @Html.Partial("_Footer")

    </div>
    @Scripts.Render("~/js")
    @*<!-- Scripts -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.appear/jquery.appear.js"></script>
    <script src="~/Scripts/jquery.easing/jquery.easing.js"></script>
    <script src="~/Scripts/jquery-cookie/jquery-cookie.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.gmap/jquery.gmap.js"></script>
    <script src="~/Scripts/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/pnotify/pnotify.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/theme.js"></script>

    <!-- Current Page Scripts and Views -->
    <script src="~/Scripts/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="~/Scripts/views/view.home.js"></script>*@
    <script src="~/Scripts/jquery.gmap/jquery.gmap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy_T3Tyh8Mt1x0E422NvP7wVZ971AYDo0&callback=initMap&language=tr&region=TR"></script>
    @*<!-- Theme Custom -->
    <script src="~/Scripts/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/theme.init.js"></script>*@

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-83422538-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

</body>
</html>
