﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelYayin>

<div class="container MinHeight">

    <div class="row">
        <div class="col-md-12">
            <div class="blog-posts">
                @if (!Model.Any())
                {
                    <span>Şu anda gösterilecek herhangi bir haber bulunmamaktadır.</span>
                }

                @foreach (var yayin in Model)
                {

                    <article class="post post-medium">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="post-image">

                                    <div>
                                        <div class="img-thumbnail">
                                            <img class="img-responsive" src="@yayin.ResimKucuk" alt="@yayin.Baslik">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">

                                <div class="post-content">

                                    <h2>
                                        <a href="@Url.Action("YayinDetay", "Yayin",new {slugUrl = yayin.SeoSlug, slugKategori = yayin.SeoSlugKategori})">@yayin.Baslik</a>
                                    </h2>
                                    <p>@yayin.KisaAciklama...</p>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-meta PadLeft10px">
                                    <span><i class="fa fa-calendar"></i>@yayin.YayinTarihi.ToString("dd MMMM yyyy") </span>
                                    <a href="@Url.Action("YayinDetay", "Yayin", new {slugUrl = yayin.SeoSlug, slugKategori = yayin.SeoSlugKategori})" class="btn btn-xs btn-primary pull-right">Devamını Oku...</a>
                                </div>
                            </div>
                        </div>

                    </article>

                }

            </div>
        </div>
    </div>
</div>

