﻿@using Altyapi.Data.Model
@{
    var kullaniciModel = (Kullanici)Session["Kullanici"];
}

<header class="header">
    <div class="logo-container">
        <a href="../" class="logo">
            <img src="~/Content/img/logo.png" height="40" alt="Kızılay Admin" />
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: user box -->
    <div class="header-right">

        <span class="separator"></span>

        <div id              ="userbox" class="userbox">
            <a href          ="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src ='@(kullaniciModel.ResimKucuk == null ? "../../Content/img/avatar.png" : kullaniciModel.ResimKucuk)' alt="@kullaniciModel.AdSoyad" data-lock-picture="@(kullaniciModel.ResimKucuk == null ? "../../Content/img/avatar.png" : kullaniciModel.ResimKucuk)"/>
                </figure>
                <div class="profile-info" data-lock-name="@kullaniciModel.AdSoyad" data-lock-email="@kullaniciModel.Eposta">
                    <span class="name">@kullaniciModel.AdSoyad</span>
                    <span class="role">Yönetici</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="1" href="#"><i class="fa fa-user"></i> Profil</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="2" href="@Url.Action("SifreDegistir","Kullanici",new {ID=kullaniciModel.ID})"><i class="fa fa-unlock-alt"></i> Şifre Değiştir</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="3" href="@Url.Action("Login","Account")"><i class="fa fa-power-off"></i> Çıkış</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: user box -->
</header>
