﻿<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.Title</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/pnotify/pnotify.css" rel="stylesheet" />
    <link href="~/Scripts/nanoscroller/nanoscroller.css" rel="stylesheet" />
    <link href="~/Scripts/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- Specific Page Vendor CSS -->
    <link href="~/Scripts/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/Content/css/theme.admin.css" rel="stylesheet" />

    <!-- Skin CSS -->
    <link href="~/Content/css/skins/default.admin.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="~/Content/css/custom.admin.css" rel="stylesheet" />

    <!-- Head Libs -->
    <script src="~/Scripts/modernizr/modernizr.js"></script>

</head>
<body>
    <section class="body">

        <!-- start: header -->
       @Html.Partial("_Header")
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @Html.Partial("_SideBar")
            <!-- end: sidebar -->

            <section role="main" class="content-body">        
                    @RenderBody()                    
            </section>
        </div>
    </section>

    <!-- Vendor -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/js/locales/bootstrap-datepicker.tr.js"></script>>
    <script src="~/Scripts/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/Scripts/nanoscroller/nanoscroller.js"></script>
    <!-- Specific Page Vendor -->
    <script src="~/Scripts/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/pnotify/pnotify.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/theme.admin.js"></script>

    <!-- Theme Custom -->
    <script src="~/Scripts/theme.admin.custom.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Theme Initialization Files -->
    <script src="~/Scripts/theme.init.js"></script>

    <script src="~/Scripts/global.admin.js"></script>
    <script src="~/Scripts/ui-elements/examples.modals.js"></script>
</body>
</html>