﻿<aside id="sidebar-left" class="sidebar-left">

	<div class="sidebar-header">
		<div class="sidebar-title">
			Menu
		</div>
		<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<div class="nano">
		<div class="nano-content">
			<nav id="menu" class="nav-main" role="navigation">
				<ul class="nav nav-main">
					<li class="nav-active">
						<a href="/">
							<i class="fa fa-home" aria-hidden="true"></i>
							<span>Anasayfa</span>
						</a>
					</li>
					<li class="nav-parent">
						<a href="#">                            
							<i class="fa fa-circle-o" aria-hidden="true"></i>
							<span>Kategori Yönetimi</span>
						</a>
						<ul class="nav nav-children">							
							<li>
								<a href="@Url.Action("Listele","Kategori")">
									Kategori Listele
								</a>
							</li>
                       </ul>
                    </li>

				    <li class="nav-parent">
				        <a href="#">
				            <i class="fa fa-circle-o" aria-hidden="true"></i>
				            <span>Yayın Yönetimi</span>
				        </a>
				        <ul class="nav nav-children">
				            <li>
				                <a href="@Url.Action("Listele", "Yayin")">
				                    Yayın Listele
				                </a>
				            </li>
				        </ul>
				    </li>

				    <li class="nav-parent">
				        <a href="#">
				            <i class="fa fa-circle-o" aria-hidden="true"></i>
				            <span>Kullanıcı Yönetimi</span>
				        </a>
				        <ul class="nav nav-children">
				            <li>
				                <a href="@Url.Action("Listele", "Kullanici")">
				                    Kullanıcı Listele
				                </a>
				            </li>
				        </ul>
				    </li>

                    <li class="nav-parent">
                        <a href="#">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                            <span>Rol Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="@Url.Action("Listele","Rol")">
                                    Rol Listele
                                </a>
                            </li>
                        </ul>
                    </li>

				</ul>
			</nav>
		</div>
	</div>

</aside>
