﻿@model Altyapi.Data.ViewModel.ViewModelRol
@{
    ViewBag.Title = "Rol Güncelle";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                @using (Ajax.BeginForm("Guncelle", "Rol", null,
          new AjaxOptions()
          {
              HttpMethod = "POST",
              OnBegin = "ValidateForm",
              OnSuccess = "OnSuccessCrud"
          },
          new
          {
              @class = "form-horizontal form-bordered"
          }))
                {
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Rol Adı</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Ad, new { @class = "form-control", placeholder = "Rol Adı" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess"></label>
                        <div class="col-md-6">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.Durumu) Aktif
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                            <button type="reset" class="btn btn-default">Vazgeç</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>



