﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelRol>
@{
    ViewBag.Title = "Rol Listele";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Rol Ekle", "Ekle", "Rol", null, new { @class = "mb-sm mt-xs mr-xs btn btn-primary" })
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table mb-none TabVertAlign">
                        <thead>
                            <tr>
                                <th>Rol Adı</th>
                                <th>Durumu</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Ad</td>
                                    <td>
                                        @if (item.Durumu == true)
                                        {
                                            <span class="label-success TabState">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="label-danger TabState">Pasif</span>
                                        }
                                    </td>
                                    <td class="actions">
                                        <a href="@Url.Action("Guncelle","Rol",new { ID=@item.ID})"><i class="fa fa-2x  fa-pencil"></i></a>
                                        <a href="#" id="RolSil" class="delete-row" data-id="@item.ID"><i class="fa fa-2x fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

