﻿@model IQueryable<Altyapi.Data.ViewModel.ViewModelYayin>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">@ViewBag.KategoriAdi</li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section SonYayinlar {
    @Html.Partial("_SonYayinlar", Model)
}

