﻿@using Altyapi.Data.ViewModel
@model Altyapi.Data.ViewModel.ViewModelYayin
@{
    ViewBag.Title = "Yayın Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">@ViewBag.KategoriAdi</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="container MinHeight">

    <div class="row">
        <div class="col-md-9">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post">
                    <div class="post-image col-md-12">
                        <div>
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="@Model.ResimBuyuk" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                    </div>

                    <div class="col-md-12">
                        <div class="post-date ">
                            <span class="day">@Model.YayinTarihi.Day</span>
                            <span class="month">@Model.YayinTarihi.ToString("MMM")</span>
                        </div>

                        <div class="post-content">

                            <h2>
                                <a>@Model.Baslik</a>
                            </h2>

                            @Html.Raw(Model.Icerik)

                        </div>

                        <div class="row">
                            <hr class="tall">
                        </div>
                    </div>

                </article>

            </div>
        </div>

        <div class="col-md-3">
            <aside class="sidebar">

                <div class="tabs mb-xlg">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#recentPosts" data-toggle="tab"><i class="fa fa-star"></i>En Son Yazılar</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="recentPosts">
                            <ul class="simple-post-list">
                                @foreach (ViewModelYayin yayin in ViewBag.SonYayinlar)
                                {
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail">
                                                <a href=@Url.Action("YayinDetay", "Yayin", new {slugKategori = @yayin.SeoSlugKategori, slugUrl = @yayin.SeoSlug})>
                                                    <img width="50" src="@yayin.ResimKucuk" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-meta">
                                            @yayin.YayinTarihi.ToString("dd MMM yyyy")
                                        </div>
                                        <div class="post-info">
                                            <a href=@Url.Action("YayinDetay", "Yayin", new {slugKategori = @yayin.SeoSlugKategori, slugUrl = @yayin.SeoSlug})>@yayin.Baslik</a>
                                        </div>

                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </aside>
        </div>
    </div>
    <div class="row">
        @if (Model.Resimler.Count != 0)
        {
            <div class="col-md-12">
                <div data-plugin-lightbox data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>


                        <div class="heading heading-primary heading-border heading-bottom-border">
                            <h2 class="heading-primary">
                                <strong>Galeri</strong>
                            </h2>
                        </div>

                        @foreach (var resim in Model.Resimler)
                        {
                            <div class="col-md-3 autoHeight">
                                <a class="img-thumbnail mb-xl" href=@resim.ResimUrlBuyuk data-plugin-options='{"type":"image"}'>
                                    <img alt="" class="img-responsive img-rounded autoHeight" src=@resim.ResimUrlBuyuk>
                                    <span class="zoom">
                                            <i class="fa fa-search"></i>
                                        </span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
        }

    </div>
</div>


