﻿@model IQueryable<Altyapi.Data.ViewModel.ViewModelYayin>
@{
    ViewBag.Title = "Ziyaretler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Anasayfa")">Anasayfa</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="blog-posts">

                <section class="timeline">
                    <div class="timeline-body">
                        @{ var odd = true; }
                        @foreach (var yayin in Model)
                        {

                            <article class="timeline-box post post-medium @(odd ? "left": "right")">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="post-image">
                                            <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                                <div>
                                                    <div class="img-thumbnail">
                                                        <img class="img-responsive" src=@yayin.ResimBuyuk alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="post-content">
                                            <p>@yayin.KisaAciklama</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            <span><i class="fa fa-calendar"></i> @yayin.YayinTarihi.ToString("dd MMMM yyyy") </span><br>
                                        </div>
                                    </div>
                                </div>

                            </article>
                            odd = !odd;
                        }
                    </div>

                </section>

            </div>
        </div>

    </div>

</div>


