﻿
@{
    ViewBag.Title = "Giriş Sayfası";
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Yönetim Giriş Sayfası</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Scripts/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/css/theme.admin.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/css/skins/default.admin.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/theme-custom.admin.css">
    <link href="~/Content/css/custom.admin.css" rel="stylesheet" />

    <!-- Head Libs -->
    <script src="~/Scripts/modernizr/modernizr.js"></script>

</head>
<body>
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo pull-left">
                <img src="~/Content/img/logo.png" height="100" alt="Kızılay Admin" />
            </a>

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> GİRİŞ YAP</h2>
                </div>
                <div class="panel-body">
                    @if (@ViewBag.Mesaj != null)
                    {
                        <div class="row">
                            <div class="col-sm-12 pull-right">
                                <span class="label label-warning TabState">@ViewBag.Mesaj</span>
                            </div>
                        </div>
                    }

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        Html.AntiForgeryToken();
                        <div class="form-group mb-lg">
                            <label>Kullanıcı Adı</label>
                            <div class="input-group input-group-icon">
                                <input name="KullaniciAdi" type="text" class="form-control input-lg" autofocus required/>
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left">Şifre</label>
                            </div>
                            <div class="input-group input-group-icon">
                                <input name="Sifre" type="password" class="form-control input-lg" required/>
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">

                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary hidden-xs">Giriş Yap</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Giriş Yap</button>
                            </div>
                        </div>

                    }
                </div>
            </div>

            <p class="text-center text-muted mt-md mb-md">&copy; Copyright @DateTime.Now.Year. Tüm hakları saklıdır.</p>
        </div>
    </section>

    <!-- Vendor -->
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/nanoscroller/nanoscroller.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/magnific-popup/magnific-popup.js"></script>
    <script src="~/Scripts/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/theme.admin.js"></script>

    <!-- Theme Custom -->
    <script src="~/Scripts/theme.admin.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/theme.init.js"></script>

</body>
</html>

