﻿@model Altyapi.Data.ViewModel.ViewModelKullanici
@{
    ViewBag.Title = "Kullanıcı Güncelle";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Guncelle", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ResimKucuk)
                    @Html.HiddenFor(model => model.ResimBuyuk)
                    <div class="form-group">
                        <label class="col-md-3 control-label">Kullanıcı Resmi</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.KullaniciResim, new { type = "file", @class = "form-control", accept = "image/*" })
                        </div>
                        <div class="col-md-4">
                            @if (Model.ResimKucuk.IsEmpty() || Model.ResimKucuk == null)
                            {
                                <img id="previewImg" class="img-responsive" src="~/Content/img/avatar.png" alt="" />
                            }
                            else
                            {
                                <img id="previewImg" class="img-responsive" src="@Model.ResimBuyuk" alt="" />
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Kullanıcı Adı</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                            @Html.ValidationMessageFor(model => model.KullaniciAdi, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Adı Soyadı</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.AdiSoyadi, new { @class = "form-control", placeholder = "Adı Soyadı" })
                            @Html.ValidationMessageFor(model => model.AdiSoyadi, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">E-posta</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Eposta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Eposta, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.Durumu) Aktif
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                            <button type="reset" class="btn btn-default">Vazgeç</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

