﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelKullanici>
@{
    ViewBag.Title = "Kullanıcı Listele";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Kullanıcı Ekle", "Ekle", "Kullanici", null, new { @class = "mb-sm mt-xs mr-xs btn btn-primary" })
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none TabVertAlign">
                        <thead>
                            <tr>
                                <th class="col-sm-2 hidden-xs">Resim</th>
                                <th>Kullanıcı Adı</th>
                                <th>Adı Soyadı</th>
                                <th>Durumu</th>
                                <th>Şifre Yenile</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-sm-2 hidden-xs">
                                        @if (item.ResimKucuk.IsEmpty() || item.ResimKucuk == null)
                                        {
                                            <img id="previewImg" class="img-responsive" src="~/Content/img/avatar.png" alt="" />
                                        }
                                        else
                                        {
                                            <img id="previewImg" class="img-responsive" src="@item.ResimKucuk" alt="" />
                                        }
                                    </td>
                                    <td>@item.KullaniciAdi</td>
                                    <td>@item.AdiSoyadi</td>
                                    <td>
                                        @if (item.Durumu == true)
                                        {
                                            <span class="label-success TabState">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="label-danger TabState">Pasif</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="mb-xs mt-xs mr-xs modal-with-zoom-anim btn btn-xs btn-info" href="#modalCenter">Şifre Yenile</a>
                                        <div id="modalCenter" class="zoom-anim-dialog modal-block mfp-hide">
                                            <section class="panel">
                                                <div class="panel-body">
                                                    <div class="modal-wrapper">
                                                        <div class="modal-text text-center">
                                                            <p>Şifreyi sıfırlamak istediğinizden emin misiniz? Şifre varsayılan değer olacaktır.</p>
                                                            <button class="btn btn-primary modal-confirm">Onayla</button>
                                                            <button id="SifreYenile" data-id="@item.ID" class="btn btn-default modal-dismiss">Vazgeç</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </td>
                                    <td class="actions">
                                        <a href="@Url.Action("Guncelle","Kullanici",new { ID=@item.ID})"><i class="fa fa-2x fa-pencil"></i></a>
                                        <a href="#" id="KullaniciSil" class="delete-row" data-id="@item.ID"><i class="fa fa-2x fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

