﻿@model Altyapi.Data.ViewModel.ViewModelKullaniciSifre
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("SifreDegistir", "Kullanici", FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        <label class="col-md-3 control-label">Şifreniz</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                            @Html.ValidationMessageFor(model => model.Sifre, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yeni Şifre</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.YeniSifre, new {@class = "form-control", placeholder = "Yeni Şifre"})
                            @Html.ValidationMessageFor(model => model.YeniSifre, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yeni Şifre Tekrar</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.YeniSifreTekrar, new {@class = "form-control", placeholder = "Yeni Şifre Tekrar"})
                            @Html.ValidationMessageFor(model => model.YeniSifreTekrar, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                            <button type="reset" class="btn btn-default">Vazgeç</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>


