﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelKategori>
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Kategori Ekle","Ekle","Kategori",null,new { @class= "mb-sm mt-xs mr-xs btn btn-primary" })
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                
                <div class="table-responsive">
                    <table class="table mb-none TabVertAlign">
                        <thead>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Durumu</th>
                                <th>Sıralama</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Ad</td>
                                    <td>
                                        @if (item.Durumu == true)
                                        {
                                            <span class="label-success TabState">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="label-danger TabState">Pasif</span>
                                        }
                                    </td>
                                    <td>@item.Siralama</td>
                                    <td class="actions">
                                        <a href="@Url.Action("Guncelle","Kategori",new { ID=@item.ID})"><i class="fa fa-2x  fa-pencil"></i></a>
                                        <a href="#" id="KategoriSil" class="delete-row" data-id="@item.ID"><i class="fa fa-2x fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
