﻿
@{
    ViewBag.Title = "Şube Başkanı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">Şube Başkanı</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container MinHeight">
    <div class="row">
        <div class="col-md-6">
            <div>
                <span class="img-thumbnail">
                    <img alt="" height="300" class="img-responsive" src="~/Content/img/baskan2.jpg" />
                </span>
            </div>
        </div>
        <div class="col-md-6">

            <h2 class="mb-none">Ramazan <strong>KÜÇÜKÇELİK</strong></h2>
            <h4 class="heading-primary">Türk Kızılayı Antalya Kepez Şubesi Başkanı</h4>

            <hr class="solid">

            <ul class="list list-icons">
                <li><i class="fa fa-check"></i> Antalya doğumlu.</li>
                <li><i class="fa fa-check"></i> Evli ve 2 çocuğu var.</li>
            </ul>

        </div>
    </div>
</div>
