﻿
@{
    ViewBag.Title = "Şube Bilgisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">Şube Bilgisi</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container MinHeight">

    <div class="row">
        <div class="col-md-8">
            <div data-plugin-lightbox data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube1.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube1.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube2.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube2.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube3.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube3.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube4.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube4.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube5.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube5.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube6.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube6.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube7.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube7.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube8.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube8.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-thumbnail mb-xl" href="~/Content/img/sube/sube9.jpeg" data-plugin-options='{"type":"image"}'>
                            <img alt="" class="img-responsive img-rounded" src="~/Content/img/sube/sube8.jpeg">
                            <span class="zoom">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <h4>Yer <strong>Bildirimi</strong></h4>

            <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
            <div id="googlemaps" class="google-map small"></div>

            <ul class="list list-icons list-icons-style-3 mt-xlg">
                <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Fabrikalar Mah. 3002 Sk. Kızılay Parkı No:2/1</li>
                <li><i class="fa fa-phone"></i> <strong>Telefon:</strong> 0 (242) 345 46 46</li>
                <li><i class="fa fa-envelope"></i> <strong>E-Posta:</strong> <a href="mailto:bilgi@turkkizilayikepez.org">bilgi@turkkizilayikepez.org</a></li>
            </ul>

            <hr>

            <h4>Çalışma <strong>Saatleri</strong></h4>
            <ul class="list list-icons list-dark mt-xlg">
                <li><i class="fa fa-clock-o"></i> Pazartesi - Cuma 09:00 / 17:30</li>
                <li><i class="fa fa-clock-o"></i> Cumartesi - 10:00 / 17:00</li>
                <li><i class="fa fa-clock-o"></i> Pazar - Kapalı</li>
            </ul>
        </div>
    </div>
    <div class="Empty50"></div>
</div>



