﻿@{
    ViewBag.Title = "Yönetim Kurulu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Anasayfa")">Anasayfa</a></li>
                    <li class="active">Yönetim Kurulu</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-weight-bold text-center">
            <h4><strong>Şube Yönetim Kurulu Asıl Üyelikleri</strong></h4>
        </div>
        <div class="Empty50"></div>
        <div class="col-lg-12 col-sm-12 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/img/baskan.jpg" alt="" style="margin:0 auto;max-height:100px;">
            <h4>Ramazan KÜÇÜKÇELİK<br><small>Şube Başkanı</small></h4>
        </div>

        <hr class="tall">

        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Muhammet ATEŞ<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Süleyman KABAAĞAÇ<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Onur ÇİFTÇİ<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Erol YILDIRIM<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Bayram TAYYAR<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Murat DÜLEK<br><small>Yönetim Kurulu Üyesi</small></h4>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <hr class="tall">
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-weight-bold text-center">
            <h4><strong>Şube Yönetim Kurulu Yedek Üyelikleri</strong></h4>
        </div>
        <div class="Empty50"></div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Ayşegül ÖZTÜRK<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Arife AKYÜZ<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Mevlüt ÖRS<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Fatma KAL<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Ahmet ACAR<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Hatice Hacıahmetoğlu GAYGISIZ<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Mehmet İLTEMİR<br><small>Yönetim Kurulu Yedek Üyesi</small></h4>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <hr class="tall">
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-weight-bold text-center">
            <h4><strong>Şube Denetçisi Asıl ve Yedek Üyeler</strong></h4>
        </div>
        <div class="Empty50"></div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Alim KAL<br><small>Şube Denetçisi Asıl Üye</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Aziz KÖK<br><small>Şube Denetçisi Yedek Üye</small></h4>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <hr class="tall">
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-weight-bold text-center">
            <h4><strong>Genel Merkez Genel Kurul Asıl ve Yedek Delegeleri</strong></h4>
        </div>
        <div class="Empty50"></div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Süleyman KABAAĞAÇ<br><small>Asıl Delege</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Ramazan KÜÇÜKÇELİK<br><small>Asıl Delege</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Onur ÇİFTÇİ<br><small>Yedek Delege</small></h4>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <h4>Muhammet ATEŞ<br><small>Yedek Delege</small></h4>
        </div>
    </div>
</div>
<div class="Empty50"></div>