﻿@model Altyapi.Data.ViewModel.ViewModelYayin
@{
    ViewBag.Title = "Yayın Ekle";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Ekle", "Yayin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın Resmi</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.BaslikResim, new { type = "file", @class = "form-control", accept = "image/*" })
                        </div>
                        <div class="col-md-4">
                            @if (Model.ResimKucuk.IsEmpty()||Model.ResimKucuk==null)
                            {
                                <img id="previewImg" class="img-responsive" src="~/Content/img/default_kizilay.jpg" alt="" />
                            }
                            else
                            {
                                <img id="previewImg" class="img-responsive" src="@Model.ResimKucuk" alt="" />
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın Kategori</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.KategoriID, new SelectList(ViewBag.KategoriListesi, "ID", "Ad"), "Kategori Seçiniz", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.KategoriID, null, new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın Tarihi</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" required data-plugin-datepicker class="form-control" id="YayinTarihi" name="YayinTarihi" value=@Model.YayinTarihi>
                                @Html.ValidationMessageFor(model => model.YayinTarihi, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın Başlığı</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Baslik, new { @class = "form-control", placeholder = "Başlık" })
                            @Html.ValidationMessageFor(model => model.Baslik, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın Kısa Açıklama</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.KisaAciklama, new { @class = "form-control", placeholder = "Kısa Açıklama" })
                            @Html.ValidationMessageFor(model => model.KisaAciklama, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Yayın İçerik</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Icerik)
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['Icerik'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('Icerik', {
                                    enterMode: CKEDITOR.ENTER_BR,
                                })
                            </script>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.Durumu) Aktif
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.SlayttaGorunsunMu) Slaytta Görünsün
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Resim Galerisi</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Galeri, new { type = "file", @class = "form-control", accept = "image/*", multiple = "multiple" })
                        </div>
                        <div class="col-md-12 Empty20"></div>
                        <label class="col-md-3 control-label">Galerideki Resimler</label>
                        <div class="col-md-9">
                            @if (Model.Resimler.Count == 0)
                            {
                                <output id="result">Yüklenen herhangi bir resim yok.</output>
                            }
                            else
                            {
                                <output id="result" />
                            }
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                            <button type="reset" class="btn btn-default">Vazgeç</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>






















