﻿@model IEnumerable<Altyapi.Data.ViewModel.ViewModelYayin>
@{
    ViewBag.Title = "Yayın Listesi";
    Layout = "~/Areas/KizilayAdmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("Yayın Ekle", "Ekle", "Yayin", null, new { @class = "mb-sm mt-xs mr-xs btn btn-primary" })
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <h2 class="panel-title">@ViewBag.Title</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none TabVertAlign">
                        <thead>
                            <tr>
                                <th class="col-sm-2 hidden-xs">Resim</th>
                                <th>Kategori</th>
                                <th>Başlık</th>
                                <th>Durumu</th>
                                <th>Sıralama</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-sm-2 hidden-xs">
                                        @if (item.ResimKucuk.IsEmpty() || item.ResimKucuk == null)
                                        {
                                            <img id="previewImg" class="img-responsive" src="~/Content/img/default_kizilay.jpg" alt="" />
                                        }
                                        else
                                        {
                                            <img id="previewImg" class="img-responsive" src="@item.ResimKucuk" alt="" />
                                        }
                                    </td>
                                    <td>@item.KategoriAdi</td>
                                    <td>@item.Baslik</td>
                                    <td>
                                        @if (item.Durumu == true)
                                        {
                                            <span class="label-success TabState">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="label-danger TabState">Pasif</span>
                                        }
                                    </td>
                                    <td>@item.Siralama</td>
                                    <td class="actions" style="vertical-align:top">
                                        <a href="@Url.Action("Guncelle","Yayin",new { ID=@item.ID})"><i class="fa fa-2x fa-pencil"></i></a>
                                        <a href="#" id="YayinSil" class="delete-row" data-id="@item.ID"><i class="fa fa-2x fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>


